:root {
    --text-primary: #7768AE;
}
.loader-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    text-align: center;
}
#interface {
    position: relative;
    top: 75px;
}
#subtitle {
    font-size: 1.8rem;
    color: #4c3e7c;
    margin-bottom: 2rem;
}
.title {
    margin-bottom: 0.5rem;
    color: var(--text-primary);
}
.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.show--fade {
    animation-duration: 2s;
    animation-name: opacity;
}
@keyframes opacity {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

h6.text-danger {
    margin-top: 18px;
    margin-bottom: 5px;
}
.container-form {
    max-width: 950px;
    margin: auto;
}
select {
    padding-right: 2rem !important;
}
.invalid {
    color: var(--bs-red);
    font-size: 14px;
    font-weight: 500;
}
.Pendiente {
    background-color: var(--bs-warning-bg-subtle);
}
.Anulada {
    background-color: var(--bs-danger-bg-subtle);
}
.Controlado {
    background-color: var(--bs-success-bg-subtle);
}
.Presupuesto {
    background-color: var(--bs-primary-bg-subtle) !important; 
}
.Recibido {
    background-color: #d9d2e9 !important; 
}
.btn-light {
    background-color: var(--text-primary);
    color: white;
}
#formCliente {
    max-width: 900px;
    margin: auto;
}
.version {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-style: italic;
    font-size: 12px;
}